<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="libs/microtemplate/microtemplating.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div id="content">
    <div id="show_files">Loading...</div>

    <form method="post" enctype="multipart/form-data"
          action="http://localhost:4567/add">
        <div class="heading"><h3>Upload new file</h3></div>
        <div class="upload-block">
            <div class="upload-block__item upload-block__item--big">
                <input name="name" type="text" placeholder="Enter file name" class="upload-block__item--big"
                       id="textinput"
                       required/>
            </div>
            <div class="upload-block__item upload-block__item--big">
                <input name="file" type="file" class="inherit-width upload-item-input" id="fileinput"
                       style="height:100%; width:100%" required/>
            </div>
            <div class="upload-block__item">
                <input type="submit" class="inherit-width" value="Add file">
            </div>
        </div>
    </form>

    <!-- webapp.js client side templating-->
    <script type="text/html" id="show_files_template">
        <div class="heading"><h3>List Of Files</h3></div>
        <div class="file-container">
            <% for ( var i = 0; i < files.length; i++ ) { %>
            <div class="<%=getRatioClass(files[i]) %>">
                <img title="<%=files[i].name %>" src="http://localhost:4567/picture/<%= files[i].id %>">

                <form method="post" action="http://localhost:4567/remove/<%= files[i].id %>">
                    <button type="submit" class="close" title="Delete file">&times;</button>
                </form>
            </div>
            <% } %>
        </div>
    </script>


    <!--<br>
    <br>
    <br>
    <div class="heading">
        found this from the web.
        <div id="box">
            <img id="image" src="http://guide.denverpost.com/media/photos/full/mountain_600x600.jpg" width="100%"
                 height="100%"/>
            <input type="file" id="file"/>
        </div>
    </div>-->

</div>
<script>
    loadFiles();

    function loadFiles() {
        var showFilesElem = $("#show_files");
        $.ajax("http://localhost:4567/files")
                .done(function (response) {
                    showFilesElem.html(tmpl("show_files_template",
                            {
                                files: response,
                                getRatioClass: function (image) {
                                    var golden_ratio = 1.45;
                                    return image.ratio > golden_ratio ? 'file bigfile' : 'file';
                                }
                            }
                    ))
                }).fail(function (jqXHR, textStatus) {
                    showFilesElem.html("Error occurred");
                    console.log("Request failed: " + textStatus);
                });

    }
</script>


</body>
</html>