.heading {
    margin-left: 20px;
}

.file-container {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    max-width: 1500px;
    min-width: 300px;
    margin-left: 20px;
    flex-wrap: wrap;
}

.file {
    margin-right: 10px;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    position: relative;
}

.bigfile {
    width: 410px;
}

.file img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.file__title {
    color: white;
    font-weight: bold;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;

    font-size: 30px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    text-decoration: none;
    clear: left;
    float: left;
}

.close:hover {
    color: red;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
}

.file__delete {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    text-decoration: none;
    clear: left;
    float: left;
}

.file__delete.hover {
    color: red;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
}

.upload-block {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin-left: 20px;
    max-width: 700px;
    margin-bottom: 20px;
}

.upload-block__item {
    background: antiquewhite;
    width: 200px;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    flex-basis: auto;
}

.upload-block__item--big {
    width: 410px;
}

.inherit-width {
    width: inherit;
}

.upload-item-input {
    box-sizing: border-box
}

/*some random css for picture input, also commented out in index.html*/
#box {
    width: 300px;
    height: 300px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

#file {
    width: 60%;
    height: 100%;
    background: rgba(150, 225, 150, 0.5);
    vertical-align: middle;
    text-align: center;
    padding: 0 20%;
    margin-top: -334px;
    color: #FFF;
    font-weight: bold;
    font-size: 400px;
    opacity: 0;
}

